@font-face {
  font-family: "Ogg";
  src: url("fonts/Ogg-Regular.eot");
  src: url("fonts/Ogg-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Ogg-Regular.woff2") format("woff2"), url("fonts/Ogg-Regular.woff") format("woff"), url("fonts/Ogg-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("fonts/Ogg-Regular.eot");
  src: url("fonts/Ogg-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Ogg-Regular.woff2") format("woff2"), url("fonts/Ogg-Regular.woff") format("woff"), url("fonts/Ogg-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
* {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

body {
  font-family: Ogg, serif;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

img {
  width: 100%;
  height: 100%;
}

.banner {
  background-color: #F8F3F9;
  background-image: url(../src/images/Rocks.png);
  background-size: cover;
  padding: 200px 0;
}
.banner__title {
  font-size: 120px;
  line-height: 120px;
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
}

.ticker {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.ticker__str {
  padding: 30px 0;
  width: 100%;
}
.ticker__str span {
  font-weight: 500;
  background: url("../src/images/button-bg.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px black;
}

.description__item {
  text-align: center;
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.description__item > * {
  padding-bottom: 20px;
}
.description__item .text {
  font-size: 16px;
  line-height: 24px;
}
.description__item .subtitle {
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
}
.description__item .symbol {
  width: 27px;
}

.block-2 {
  background: linear-gradient(241.95deg, #FFFFFF 0.5%, rgba(255, 255, 255, 0) 80.8%), rgba(234, 193, 191, 0.64);
}
.block-2 .content {
  padding: 150px 0;
}
.block-2 .left {
  max-width: 468px;
  font-size: 48px;
  line-height: 68px;
}
.block-2 .left button {
  color: #FFFFFF;
  background-color: #000000;
  width: 190px;
  height: 48px;
  border-radius: 32px;
}

.block-3 .content {
  padding: 150px 0;
}
.block-3 .left .crystals {
  max-width: 580px;
  position: relative;
}
.block-3 .left .crystals button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.block-3 .left button {
  text-transform: uppercase;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  width: 190px;
  height: 48px;
}

.block-4 .list-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.block-4 .left button {
  border: none;
  background-image: url("../src/images/button-bg.png");
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 250px;
  height: 48px;
  border-radius: 32px;
}

.block-5 {
  background-color: #FBF9F9;
}
.block-5 .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}
.block-5__title {
  font-size: 47px;
  line-height: 68px;
  margin: 0 auto 80px;
}
.block-5 .item-list__item {
  position: relative;
}
.block-5 .item-list__item .image {
  width: 100px;
}
.block-5 .item-list__item .subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}
.block-5 .item-list__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.block-5 .item-list__item:hover:before {
  display: block;
}
.block-5 .item-list__item:before {
  content: "";
  background-image: url("../src/images/small-shadow.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -50%;
  right: -100%;
  left: -50%;
  bottom: 0;
  display: none;
}

.block-6 {
  background-color: #FBF9F9;
}
.block-6 .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}
.block-6__title {
  font-size: 47px;
  line-height: 68px;
  margin: 0 auto 80px;
}
.block-6 .item-list {
  gap: 15px;
}
.block-6 .item-list__item .image {
  width: 430px;
}
.block-6 .item-list__item .subtitle {
  font-size: 46px;
  line-height: 48px;
}
.block-6 .item-list__item .small-text {
  font-size: 15px;
  line-height: 24px;
}

.block-7 {
  background: -webkit-gradient(linear, right top, left top, color-stop(45.52%, #FFFFFF), to(rgba(255, 255, 255, 0.58))), #EAC1BF;
  background: linear-gradient(270deg, #FFFFFF 45.52%, rgba(255, 255, 255, 0.58) 100%), #EAC1BF;
}
.block-7 .content {
  padding: 100px 0;
}
.block-7 .left {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-7 .left .title {
  font-size: 48px;
  line-height: 56px;
}
.block-7 .left .description {
  font-size: 16px;
  line-height: 24px;
}
.block-7 .left button {
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  border-radius: 32px;
  width: 170px;
  height: 50px;
}
.block-7 .item-list {
  gap: 15px;
}
.block-7 .item-list__item .image {
  max-width: 380px;
}
.block-7 .item-list__item .subtitle {
  font-size: 46px;
  line-height: 48px;
}
.block-7 .item-list__item .small-text {
  font-size: 15px;
  line-height: 24px;
}

.block-8 .central-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-8 .central-content > * {
  margin-bottom: 30px;
}
.block-8 .central-content .title {
  text-align: center;
  max-width: 600px;
  font-size: 46px;
  line-height: 72px;
}
.block-8 .central-content .image {
  width: 100px;
}
.block-8 .central-content .subtitle {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.block-9 .content {
  padding: 80px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.block-9 span {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}
.block-9 .item-list {
  gap: 15px;
}
.block-9 .item-list__item .image {
  width: 200px;
}

.footer {
  background-image: url(../src/images/footer-bg.png);
}
.footer .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}
.footer .footer-list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 830px;
  gap: 30px 80px;
}
.footer .footer-list__item {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
}
.footer .copyright a {
  padding-right: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 12px;
  line-height: 24px;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
.wrap__wide {
  padding: 0 100px;
}
.wrap__narrow {
  padding: 0 150px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.card {
  min-width: 350px;
  border: 1px solid #EAC1BF;
  border-radius: 16px;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}
.card__title {
  text-transform: uppercase;
}

.color-list {
  font-size: 47px;
  line-height: 48px;
  list-style: none;
  padding: 0;
}
.color-list__item img {
  display: inline-block;
  width: 30px;
}
.color-list__item:not(last-child) {
  margin-bottom: 30px;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  padding: 30px 60px;
}
.header-inner .burger :hover, .header-inner .glass :hover, .header-inner .triangle :hover {
  cursor: pointer;
}
.header-inner .burger {
  width: 28px;
  display: inline-block;
}
.header-inner .glass {
  width: 28px;
  display: inline-block;
  padding-right: 50px;
}
.header-inner span {
  padding-left: 50px;
}
.header-inner .triangle {
  width: 28px;
  display: inline-block;
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-list__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.labels {
  position: relative;
}
.labels .image {
  position: relative;
}
.labels .shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}