.block_2 header .reg_btn {

}

.block_2 .text {

    margin-left: 32px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 6px;
    color: #4A4A4A;
    text-transform: uppercase;
}

.block_2 .central_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 197px;
    left: 370px;
    width: 700px;
    height: 156px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    /* or 126% */


    color: #4A4A4A;
}

.block_2 .footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1180px;
    top: 469px;
    left: 216px;
}

.block_2 .footer div {
    width: 341px;
    display: flex;
    flex-direction: column;
}

.block_2 .s1 img {
    margin-top: 0px;
    margin-left: 0px;
    width: 165px;
}

.block_2 .s2 img {
    margin-top: -9px;
    margin-left: -4px;
    width: 165px;
}

.block_2 .s3 img {
    margin-top: -16px;
    margin-left: -6px;
    width: 181px;
}

.block_2 .s1 span {
    margin-top: 10px;
    margin-left: -179px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.0366516px;
    text-transform: uppercase;
    color: #FF7E03;
}

.block_2 .s2 span {
    margin-top: 12px;
    margin-left: -172px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.0366516px;
    text-transform: uppercase;
    color: #FF7E03;
}

.block_2 .s3 span {
    margin-top: 9px;
    margin-left: -170px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.0366516px;
    text-transform: uppercase;
    color: #FF7E03;
}


.block_2 .s1 div {
    margin-top: 20px;
    margin-left: -86px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.0326923px;
    color: #4A4A4A;
}

.block_2 .s2 div {
    margin-top: 21px;
    margin-left: -75px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.0326923px;
    color: #4A4A4A;
}

.block_2 .s3 div {
    margin-top: 23px;
    margin-left: -86px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.0326923px;
    color: #4A4A4A;
}