.block_3 {
    margin-top: 44px;
    background-color: rgba(53, 53, 53, 1);
    color: #FFFFFF;
    font-family: Fira Sans;
    font-style: normal;
}
.block_3 .central_text {
    display: flex;
    height: 504px;
    width: 1178px;
    border: 1px solid white;
    position: absolute;
    top: 178px;
    left: 130px;
}
.block_3 .central_text .left {
    height: 100%;
    margin-left: 67px;
}
.block_3 .central_text .right {
    height: 100%;
    margin-left: 288px;
}

.block_3 .left .where {
    margin-top: 16px;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}
.block_3 .left .office {
    margin-top: 33px;
    margin-left: 2px;

    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
}

.block_3 .left .learnup {
    margin-top: 5px;
    margin-left: 3px;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}

.block_3 .left .sloboda {
    margin-top: 11px;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
}
.block_3 .left .sloboda img{
    width: 18px;
    margin-right: 8px;
}


.block_3 .left .when {
    margin-top: 48px;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

.block_3 .left .december {
    margin-top: 30px;
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 13.2778px;
    text-transform: uppercase;
}

.block_3 .left .year {
    margin-top: -23px;
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
}

.block_3 .right .about {
    margin-top: 17px;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

.block_3 .right .duration {
    margin-top: 32px;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
}

.block_3 .right .comprises {
    margin-top: 12px;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
}

.block_3 .right .cost {
    margin-top: 178px;
    margin-left: -1px;
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 17.7778px;
    text-transform: uppercase;
}
.block_3 .right .free {
    margin-top: -23px;
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
}