

.block_6 .central_text  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #000000;
    width: 940px;
    height: 200px;
    position: absolute;
    top: 188px;
    left: 250px;
}

.block_6 .footer {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    height: 46px;

    left: 250px;
    top: 530px;
}
.block_6 .footer .text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}
.block_6 .footer img {
    height:  32px;
}
.block_6 .footer button {
    right: -630px;
    position: absolute;
    width: 206px;
    height: 46px;
}
.block_6 .footer .copyright {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 180px;
    left: -120px;
    width: 1180px;
}
.block_6 .footer .copyright .date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}
.block_6 .footer .copyright .email {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: right;

    color: #FF7E03;

}

