.block_1 {
    background-color: #fc6f5c;
    background-image: linear-gradient(43deg, #fc6f5c 0%, #faa235 46%, #fb923b 100%);
}
.block_1 .date {
    color: white;
}
.block_1 .human {
    position: absolute;
    top: 125px;
    left: 181px;
    width: 1072px;
    height: 948px;
}
.block_1 .human img {
    width: 100%;
}
.block_1 .mobile {
    height: min-content;
    position: absolute;
    top: 232px;
    left: 188px;
    width: 1057px;
    display: flex;
    justify-content: space-between;

}
.block_1 .ios {
    width: 94px;
}
.block_1 .ios span {
    font-family: Source Sans Pro;
    color: white;
    font-size: 24px;
    margin-top: 6px;
    margin-left: 30px;
    text-align: center;
    display: inline-block;
}
.block_1 .android {
    width: 99px;
    margin-top: 1px;
}
.block_1 .android span {
    font-family: Source Sans Pro;
    color: white;
    font-size: 24px;
    margin-left: 9px;
    text-align: center;
    display: inline-block;

}
.block_1 .central_text {
    top: 372px;
    left: 481px;
    position: absolute;
    color: white;
    text-transform: uppercase
}
.block_1 .choose {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.845em;
}
.block_1 .flutter {
    margin-top: -36px;
    margin-left: -16px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    text-align: center;
}
.block_1 .to_choose_both {
    margin-top: -33px;
    margin-left: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.37em;
}
.block_1 .reg_btn {
    position: absolute;
    left: 43.54%;
    right: 43.54%;
    top: 82.37%;
    bottom: 9.32%;
    font-size: 17px;
}