@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&family=Open+Sans:wght@700&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Source+Sans+Pro&display=swap");
body {
  margin: 0;
}

*:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main_content {
  margin: 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.block {
  width: 1440px;
  height: 794px;
  position: relative;
}
.block header {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 57px;
  left: 130px;
  width: 1183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block header .text {
  margin-left: 32px;
  font-family: Fira Sans;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.block header .text.dark {
  color: #4A4A4A;
}
.block header .text.light {
  color: #FFFFFF;
}
.block .date {
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 19px;
  line-height: 36px;
  text-align: right;
  text-transform: uppercase;
}

.reg_btn {
  text-align: center;
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: 800;
}
.reg_btn.block_btn {
  width: 186px;
  position: absolute;
  left: 43.54%;
  right: 43.54%;
  top: 82.37%;
  bottom: 9.32%;
  font-size: 17px;
}
.reg_btn.block_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  background-image: linear-gradient(43deg, #fc6f5c 0%, #faa235 46%, #fb923b 100%);
}
.reg_btn.head_btn {
  height: 46px;
  margin-top: -6px;
  width: 146px;
}
.reg_btn.head_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
  background-image: linear-gradient(43deg, #fc6f5c 0%, #faa235 46%, #fb923b 100%);
}
.reg_btn.light {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.reg_btn.orange {
  color: white;
  background-color: #ff7e03;
  border: 1px solid black;
}
.reg_btn.dark {
  color: white;
  background-color: #353535;
  border: 1px solid white;
}

.block_1 {
  background-color: #fc6f5c;
  background-image: linear-gradient(43deg, #fc6f5c 0%, #faa235 46%, #fb923b 100%);
}
.block_1 .date {
  color: white;
}
.block_1 .human {
  position: absolute;
  top: 125px;
  left: 181px;
  width: 1072px;
  height: 948px;
}
.block_1 .human img {
  width: 100%;
}
.block_1 .mobile {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 232px;
  left: 188px;
  width: 1057px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block_1 .ios {
  width: 94px;
}
.block_1 .ios:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.block_1 .ios span {
  font-family: Source Sans Pro;
  color: white;
  font-size: 24px;
  margin-top: 6px;
  margin-left: 30px;
  text-align: center;
  display: inline-block;
}
.block_1 .android {
  width: 99px;
  margin-top: 1px;
}
.block_1 .android:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.block_1 .android span {
  font-family: Source Sans Pro;
  color: white;
  font-size: 24px;
  margin-left: 9px;
  text-align: center;
  display: inline-block;
}
.block_1 .central_text {
  top: 372px;
  left: 481px;
  position: absolute;
  color: white;
  text-transform: uppercase;
}
.block_1 .choose {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 56px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.845em;
}
.block_1 .flutter {
  margin-top: -36px;
  margin-left: -16px;
  font-family: Fira Sans;
  font-weight: 800;
  font-size: 128px;
  text-align: center;
}
.block_1 .to_choose_both {
  margin-top: -33px;
  margin-left: 6px;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.37em;
}

.block_2 .central_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 197px;
  left: 370px;
  width: 700px;
  height: 156px;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #4A4A4A;
}
.block_2 .footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1180px;
  top: 469px;
  left: 216px;
}
.block_2 .footer div {
  width: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block_2 .s1 img {
  margin-top: 0;
  margin-left: 0;
  width: 165px;
}
.block_2 .s1 span {
  margin-top: 10px;
  margin-left: -179px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.0366516px;
  text-transform: uppercase;
  color: #FF7E03;
}
.block_2 .s1 div {
  margin-top: 20px;
  margin-left: -86px;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.0326923px;
  color: #4A4A4A;
}
.block_2 .s2 img {
  margin-top: -9px;
  margin-left: -4px;
  width: 165px;
}
.block_2 .s2 span {
  margin-top: 12px;
  margin-left: -172px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.0366516px;
  text-transform: uppercase;
  color: #FF7E03;
}
.block_2 .s2 div {
  margin-top: 21px;
  margin-left: -75px;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.0326923px;
  color: #4A4A4A;
}
.block_2 .s3 img {
  margin-top: -16px;
  margin-left: -6px;
  width: 181px;
}
.block_2 .s3 span {
  margin-top: 9px;
  margin-left: -170px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.0366516px;
  text-transform: uppercase;
  color: #FF7E03;
}
.block_2 .s3 div {
  margin-top: 23px;
  margin-left: -86px;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.0326923px;
  color: #4A4A4A;
}

.block_3 {
  margin-top: 44px;
  background-color: #353535;
  color: #FFFFFF;
  font-family: Fira Sans;
}
.block_3 .central_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 504px;
  width: 1178px;
  border: 1px solid white;
  position: absolute;
  top: 178px;
  left: 130px;
}
.block_3 .central_text .left {
  height: 100%;
  margin-left: 67px;
}
.block_3 .central_text .left .office {
  margin-top: 33px;
  margin-left: 2px;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}
.block_3 .central_text .left .where {
  margin-top: 16px;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}
.block_3 .central_text .left .learnup {
  margin-top: 5px;
  margin-left: 3px;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}
.block_3 .central_text .left .sloboda {
  margin-top: 11px;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}
.block_3 .central_text .left .sloboda img {
  width: 18px;
  margin-right: 8px;
}
.block_3 .central_text .left .when {
  margin-top: 48px;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}
.block_3 .central_text .left .december {
  margin-top: 30px;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 13.2778px;
  text-transform: uppercase;
}
.block_3 .central_text .left .year {
  margin-top: -23px;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 96px;
  line-height: 121px;
}
.block_3 .central_text .right {
  height: 100%;
  margin-left: 288px;
}
.block_3 .central_text .right .about {
  margin-top: 17px;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}
.block_3 .central_text .right .duration {
  margin-top: 32px;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}
.block_3 .central_text .right .comprises {
  margin-top: 12px;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}
.block_3 .central_text .right .cost {
  margin-top: 178px;
  margin-left: -1px;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 17.7778px;
  text-transform: uppercase;
}
.block_3 .central_text .right .free {
  margin-top: -23px;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 96px;
  line-height: 121px;
}

.block_4 .date {
  color: #4A4A4A;
}
.block_4 .hands {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 380px;
  z-index: -1;
  width: 100%;
}
.block_4 .right_hand {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.block_4 .speakers {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 137px;
  margin-left: 185px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 472px;
}
.block_4 .speakers p {
  line-height: 27px;
}
.block_4 .speakers .description {
  background: rgba(248, 248, 248, 0.8);
  width: 459px;
  margin-top: -145px;
  margin-left: -60px;
  height: 270px;
}
.block_4 .speakers .description .info {
  margin-left: 50px;
  padding-top: 40px;
}
.block_4 .speakers .left img {
  padding-left: 190px;
}
.block_4 .speakers .left .description {
  font-family: Source Sans Pro;
  letter-spacing: -0.0461539px;
}
.block_4 .speakers .right {
  margin-left: 77px;
}
.block_4 .speakers .right .description {
  text-align: right;
  margin-left: 95px;
  font-family: Source Sans Pro;
  letter-spacing: -0.0461539px;
}
.block_4 .speakers .right .info {
  margin-right: 50px;
}
.block_4 .speakers .right p {
  text-align: left;
}
.block_4 .speakers .f_name {
  font-size: 24px;
}
.block_4 .speakers .s_name {
  font-size: 34px;
  font-weight: bold;
}

.block_5 {
  background-color: #fc6f5c;
  background-image: linear-gradient(43deg, #fc6f5c 0%, #faa235 46%, #fb923b 100%);
}
.block_5 .date {
  color: white;
}
.block_5 .central_text {
  color: white;
  width: 1170px;
  position: absolute;
  top: 226px;
}
.block_5 .central_text .text {
  margin-left: 370px;
  width: 700px;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  text-align: justify;
}
.block_5 .central_text .actions {
  margin-top: 105px;
  margin-left: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block_5 .central_text .actions .action_header {
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.block_5 .central_text .actions .action_text {
  margin-left: 30px;
  margin-top: 10px;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  /* identical to box height, or 126% */
  letter-spacing: -0.0365385px;
}

.block_6 .central_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Source Sans Pro;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 940px;
  height: 200px;
  position: absolute;
  top: 188px;
  left: 250px;
}
.block_6 .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 310px;
  height: 46px;
  left: 250px;
  top: 530px;
}
.block_6 .footer .text {
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.block_6 .footer img {
  height: 32px;
}
.block_6 .footer button {
  right: -630px;
  position: absolute;
  width: 206px;
  height: 46px;
}
.block_6 .footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 180px;
  left: -120px;
  width: 1180px;
}
.block_6 .footer .copyright .date {
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}
.block_6 .footer .copyright .email {
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: right;
  color: #FF7E03;
}