@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&family=Open+Sans:wght@700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
}


#main_content {
    margin: 0 auto;
    height: min-content;
    width: min-content;
}

.block {
    width: 1440px;
    height: 794px;
    position: relative;
}

.block_1 {
    background-color: #fc6f5c;
    background-image: linear-gradient(43deg, #fc6f5c 0%, #faa235 46%, #fb923b 100%);
}



.block_1_header{
    height: min-content;
    position: absolute;
    top: 57px;
    left: 130px;
    width: 1183px;
    display: flex;
    justify-content: space-between;
}

.logo_black_1-2-1{
    color: white;
}

.logo_date {
    margin-top: 4px;
    margin-left: 1px;
    color: white;
    font-family: Source Sans Pro;
    font-size: 19px;
}

.human {
    position: absolute;
    top: 125px;
    left: 181px;
    width: 1072px;
    height: 948px;
}

.human img {
    width: 100%;
}

.mobile {
    height: min-content;
    position: absolute;
    top: 232px;
    left: 188px;
    width: 1057px;
    display: flex;
    justify-content: space-between;

}

.ios {
    width: 94px;
}

.ios span {
    font-family: Source Sans Pro;
    color: white;
    font-size: 24px;
    margin-top: 6px;
    margin-left: 30px;
    text-align: center;
    display: inline-block;
}

.android {
    width: 99px;
    margin-top: 1px;
}

.android span {
    font-family: Source Sans Pro;
    color: white;
    font-size: 24px;
    margin-left: 9px;
    text-align: center;
    display: inline-block;

}

.block_1-central_text {
    top: 372px;
    left: 481px;
    position: absolute;
    color: white;
    text-transform: uppercase
}


.choose {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.845em;
}

.flutter {
    margin-top: -36px;
    margin-left: -16px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    text-align: center;
}

.to_choose_both {
    margin-top: -33px;
    margin-left: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.37em;
}

.block_1 button{
    position: absolute;
    left: 43.54%;
    right: 43.54%;
    top: 82.37%;
    bottom: 9.32%;
    width: 186px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #4A4A4A;
}